---
aws:
  region: us-east-1
  secretsmanager:
    region: us-east-1
    secret_id: 
github_app:
  app_id:
events:
  - matches:
      - repo_owner: suzuki-shunsuke
        repo_name: example-terraform-monorepo-2
        events:
          - pull_request
        branches:
          - main
    workflows:
      - repo_owner: suzuki-shunsuke
        repo_name: example-terraform-monorepo-2-ci
        workflow_file_name: test_pull_request.yaml
        ref: pull_request
  - matches:
      - repo_owner: suzuki-shunsuke
        repo_name: example-terraform-monorepo-2
        events:
          - push
        branches:
          - main
    workflows:
      - repo_owner: suzuki-shunsuke
        repo_name: example-terraform-monorepo-2-ci
        workflow_file_name: test.yaml
        ref: main
