---
github_apps:
  - name: webhook
    user: suzuki-shunsuke
    app_id: 123456789
    secret:
      type: aws_secretsmanager
      secret_id: test-gha-trigger-main
  - name: ci
    user: suzuki-shunsuke
    app_id: 123456789
    secret:
      type: aws_secretsmanager
      secret_id: test-gha-trigger-trigger-workflow
repos:
  - repo_owner: suzuki-shunsuke
    repo_name: test-gha-trigger-main
    workflow_github_app_name: ci
    ci_repo_name: test-gha-trigger-ci
    events:
      - matches:
          - events:
              - name: pull_request
            branches:
              - type: equal
	      	value: main
        workflow:
          workflow_file_name: test_pull_request.yaml
          ref: pull_request
      - matches:
          - events:
              - name: push
            branches:
              - type: equal
	      	value: main
        workflow:
          workflow_file_name: test.yaml
          ref: main
